<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @consultant.name %>
</p>

<p>
  <b>Group:</b>
  <%= @consultant.group_id %>
</p>

<p>
  <b>Posts:</b>
  <%= link_to "#{@consultant.posts.count}", posts_path  %>
</p>

<%= link_to 'Edit', edit_consultant_path(@consultant) %> |
<%= link_to 'Back', consultants_path %>
