<!--GROUP-->

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>account:</b>
  <%= @group.account.name %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> 

<p>--------------------------------------------------------------------------------------</p>

<p>
	<b>subjects:</b>
</p>

<table>
  <tr>
		<th>Name</th>
		<th>Account</th>
		<th>Posts</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @group.subjects.each do |subject| %>
  <tr>
	  <td><%= subject.name %></td>
    <td><%= subject.account.name %></td>
    <td><%= subject.posts.count %></td>
    <td><%= link_to 'Show', subject %></td>
  </tr>
<% end %>
</table>

<p>--------------------------------------------------------------------------------------</p>

<p>
	<b>consultants:</b>
</p>

<table>
  <tr>
		<th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @group.consultants.each do |consultant| %>
  <tr>
	  <td><%= consultant.name %></td>
    <td><%= link_to 'Show', consultant %></td>
  </tr>
<% end %>
</table>


