<%= form_for(@access) do |f| %>
  <% if @access.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@access.errors.count, "error") %> prohibited this access from being saved:</h2>

      <ul>
      <% @access.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.select :user_id, options_from_collection_for_select(@users, "id", "email") %>
  </div>
  <div class="field">
    <%= f.label :level %><br />
    <%= f.number_field :level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
