<p id="notice"><%= notice %></p>

<p>
  <b>Account:</b>
  <%= @post.account.name %>
</p>

<p>
  <b>Group:</b>
  <%= @post.group.name %>
</p>

<p>
  <b>Consultant:</b>
  <%= @post.consultant.name %>
</p>

<p>
  <b>Subject:</b>
  <%= @post.subject.name %>
</p>

<p>
  <b>Rating:</b>
  <%= @post.rating.name %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> 