<ul class="links">
	<% if current_user.nil? %>	
		<li><%= link_to "sign_in", new_user_session_path %></li>
	<% else %>					
		<li><%= link_to "sign_out", destroy_user_session_path, :method => :delete %></li>
	<% end %>
	<% if not current_user.nil? %>
		<li><%= link_to "account", account_path(current_user.account) %></li>
		<% if current_user.account.leader? %>
			<li><%= link_to "group", current_user.account.group %></li>
		<% end %>	
		<li><%= link_to "posts", posts_path %></li>
	<% end %>
</ul>