<ul class="links">
	<% if current_user.nil? %>	
		<li><%= link_to "sign_in", new_user_session_path %></li>
	<% else %>					
		<li><%= link_to "sign_out", destroy_user_session_path, :method => :delete %></li>
	<% end %>
	<% if not current_user.nil? %>
		<li><%= link_to "accounts", accounts_path %></li>
		<li><%= link_to "groups", groups_path %></li>
		<li><%= link_to "subjects", subjects_path %></li>
		<li><%= link_to "consultants", consultants_path %></li>
		<li><%= link_to "posts", posts_path %></li>
	<% end %>
</ul>