<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>Email:</b>
  <%= @account.user.email %>
</p>

<p>
  <b>Group:</b>
	<% if not @account.group.nil? %>
  	<%= @account.group.name %>
	<% else %>
		<b>none</b>
	<% end %>		
</p>

<%= link_to 'Edit', edit_account_path(@account) %> 

<br />

<h3>Issues</h3>

<table>
  <tr>
		<th>Group</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @account.subjects.each do |subject| %>
  <tr>
    <td><%= subject.group.name %></td>
    <td><%= subject.name %></td>
    <td><%= link_to 'Show', subject %></td>
  </tr>
<% end %>
</table>